.main {
  border-radius: 10px;
  width: 80%;
  background-color: white;
  margin-inline: auto;
  max-width: 600px;
}
.container {
  padding-top: 7rem;
}
.footer {
  padding-bottom: 1rem;
}
.footer_contenido {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: white;
  text-align: center;
  margin: auto;
  width: 80%;
  max-width: 200px;
}
.footer_contenido p {
  margin-bottom: 0;
}
.logo {
  width: 100%;
}
